.DS_Store
node_modules/
.env
scrap.md
sources/location/src/GetLocationMac.app/Contents/MacOS/
sources/location/src/GetLocationMac.app/Contents/_CodeSignature/
test.py
__pycache__/
mentors.md
roadmap.md